element.style {
    background-color:green;
}

div#all{
		width:80%;   
		text-align: left;
		margin: 0 auto;
		background-color: #f6f8c5;
}

body {	
	
	margin:0;
	font-size: 2em;
}	
h1,p{
	margin: 0;
}

.container {
	/*max-width: 1000px;
	margin: 0 auto;
	/*margin-left: auto;
	margin-right: auto;*/
	background: pink;
}

.item {
	float: left;
	padding: 5%;
}

.item-a{
	width:30%;
	background-color:yellow;
}

.container:after{
	content:'';
	dispaly:block;
	clear:both;
}

.item-b{
	width:50%;
	background-color:yellowgreen;
}



header{
	
	text-align:center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding-bottom: 3.3%;
    padding-top: 3.3%;


	
}

nav li ul{
	float: left;
}
.menubar{
		display: inline-block;
}


.menubar li ul {
background: rgb(109,109,109);
display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;


}
	

.menubar li:hover ul {
display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}



nav ul li a, .dropbtn {
    padding: 14px 16px;
    text-decoration: none;
    color: red;
    text-shadow: 0px 1px 1px #000;
    font-size: 80%;
    text-align: center;
    display: block;
}
footer{
	
	border-color:black;
	clear: both;
	background:gray;
}
