element.style {
    background-color:gray;
}


body {	
	
	margin:0;
	font-size: 2em;
}	
h1,p{
	margin: 0;
}

.container {
	/*max-width: 1000px;
	margin: 0 auto;
	/*margin-left: auto;
	margin-right: auto;*/
	background: pink;
}

.item {
	float: left;
	padding: 5%;
}

.item-a{
	width:30%;
	background-color:yellow;
}

.container:after{
	content:'';
	dispaly:block;
	clear:both;
}

.item-b{
	width:50%;
	background-color:yellowgreen;
}



header{
	
	text-align:center;
	margin: 11px;
	padding: 30px;
	
}
footer{
	
	border-color:black;
	clear: both;
	background:gray;
}
